<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="org.eclipse.editor.diagramType"
            name="HTA Diagram"
            type="org.eclipse.editor.diagramType">
      </diagramType>
   </extension>
   
   <extension point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.eclipse.editor.huppaal.DiagramTypeProvider"
            id="org.eclipse.editor.diagramTypeProvider"
            name="org.eclipse.editor.diagramTypeProvider">
            <diagramType id="org.eclipse.editor.diagramType"/>
      </diagramTypeProvider>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor contributorId="org.eclipse.editor.diagramType.PropertyContributor">
          <propertyCategory category="Graphiti"/>
      </propertyContributor>
   </extension>

  <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.eclipse.editor.diagramType.PropertyContributor">
          <propertyTab label="Main" category="Graphiti" id="graphiti.main.tab"/>
      </propertyTabs>
  </extension>

  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.editor.diagramType.PropertyContributor">
      	  <!-- State -->
          <propertySection tab="graphiti.main.tab" class="org.eclipse.editor.features.state.NamePropertySection"
           filter="org.eclipse.editor.features.state.PropertySectionFilter"
           id="hta.NameSection"
           enablesFor="1"/>
          <propertySection tab="graphiti.main.tab" class="org.eclipse.editor.features.state.InvariantPropertySection"
           filter="org.eclipse.editor.features.state.PropertySectionFilter"
           id="hta.InvariantSection"
           enablesFor="1"
           afterSection="hta.NameSection"/>
          <propertySection tab="graphiti.main.tab" class="org.eclipse.editor.features.state.InitialPropertySection"
           filter="org.eclipse.editor.features.state.PropertySectionFilter"
           id="hta.InitialSection"
           enablesFor="1"
           afterSection="hta.InvariantSection"/>
          <propertySection tab="graphiti.main.tab" class="org.eclipse.editor.features.state.UrgentPropertySection"
           filter="org.eclipse.editor.features.state.PropertySectionFilter"
           id="hta.UrgentSection"
           enablesFor="1"
           afterSection="hta.InitialSection"/>
          <propertySection tab="graphiti.main.tab" class="org.eclipse.editor.features.state.CommitedPropertySection"
           filter="org.eclipse.editor.features.state.PropertySectionFilter"
           id="hta.CommitedSection"
           enablesFor="1"
           afterSection="hta.UrgentSection"/>
          
          <!-- Edge -->
          <propertySection tab="graphiti.main.tab" class="org.eclipse.editor.features.edge.SelectPropertySection"
           filter="org.eclipse.editor.features.edge.PropertySectionFilter"
           id="hta.EdgeSelectSection"
           enablesFor="1"/>
          <propertySection tab="graphiti.main.tab" class="org.eclipse.editor.features.edge.GuardPropertySection"
           filter="org.eclipse.editor.features.edge.PropertySectionFilter"
           id="hta.EdgeGuardSection"
           enablesFor="1"
           afterSection="hta.EdgeSelectSection"/>
          <propertySection tab="graphiti.main.tab" class="org.eclipse.editor.features.edge.SyncPropertySection"
           filter="org.eclipse.editor.features.edge.PropertySectionFilter"
           id="hta.EdgeSynctSection"
           enablesFor="1"
           afterSection="hta.EdgeGuardSection"/>
          <propertySection tab="graphiti.main.tab" class="org.eclipse.editor.features.edge.UpdatePropertySection"
           filter="org.eclipse.editor.features.edge.PropertySectionFilter"
           id="hta.EdgeUpdateSection"
           enablesFor="1"
           afterSection="hta.EdgeSynctSection"/>
          <propertySection tab="graphiti.main.tab" class="org.eclipse.editor.features.edge.CommentsPropertySection"
           filter="org.eclipse.editor.features.edge.PropertySectionFilter"
           id="hta.EdgeCommentsSection"
           enablesFor="1"
           afterSection="hta.EdgeUpdateSection"/>
          
          <!-- Connector -->
          <propertySection tab="graphiti.main.tab" class="org.eclipse.editor.features.connector.NamePropertySection"
           filter="org.eclipse.editor.features.connector.PropertySectionFilter"
           id="hta.ConnectorNameSection"
           enablesFor="1"/>
           
          <!-- Subdiagram -->
          <propertySection tab="graphiti.main.tab" class="org.eclipse.editor.features.subdiagram.NamePropertySection"
           filter="org.eclipse.editor.features.subdiagram.PropertySectionFilter"
           id="hta.DiagramNameSection"
           enablesFor="1"/>
      </propertySections>
  </extension>
</plugin>
